{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"semi": false,
	"tabWidth": 4,
	"bracketSpacing": true,
	"endOfLine": "auto",
	"singleAttributePerLine": false,
	"svelteIndentScriptAndStyle": false
}
